$pink:hsl(322, 100%, 66%);
$lightPink:hsl(321, 100%, 78%);
$lightred:hsl(0, 100%, 63%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Paleblue-white: hsl(210, 100%, 98%);

// - Weights: 400, 600, 700
// Mobile: 375px
// - Desktop: 1440px